
@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <title>jamis</title>
        <link rel="stylesheet" href="~/Content/css/index-style.css" />
<body>
    <div class="bgImage">
        
    </div>
</body>
</html>

